<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>VdinDemo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>newIcon01</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newIcon01</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newIcon02</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newIcon02</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>newIcon03</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>newIcon03</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>APP需要您的同意，才能访问蓝牙以用于信标位置采集</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意，才能访问相机以用于拍照或者扫描二维码</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要您的同意，才能读取联系人信息以更好的匹配用户语音输入内容</string>
	<key>NSFaceIDUsageDescription</key>
	<string>APP需要您的同意，才能使用Face ID以用于解锁程序锁屏设置</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>APP需要采集您的地理位置以用于租车登记审核，为了更好的为您服务，请选择始终允许</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要您的同意，才能始终范围位置以定位租车登记。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的同意，才能在使用期间访问位置以用于采集租车地点</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要您的同意，才能访问麦克风以用于聊天发送语音等</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意，才能添加聊天中需要保存的图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要您的同意，才能访问相册以选取发送图片</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
